%tr
  %th
    %input{ type: :button, id: "fav-#{message.id}", name: :fav }
  %th
    = message.content
  %th
    %div{ id: "voted-#{message.id}" }
      = message.voted
  %th
    %input{ type: :button, value: '投票', id: "#{message.id}", name: :vote, class: 'btn btn-default' }
  %th
    = message.contributor
  %th
    = message.updated_at
