%tr
  %th
    %button{ class: 'btn btn-default' }
      %i{ type: :button, class: 'glyphicon glyphicon-copy' }
    = message.content
  %th
    %div{ id: "voted-#{message.id}" }
      = message.voted
  %th
    %input{ type: :button, value: '投票', id: "#{message.id}", name: :vote, class: 'btn btn-default' }
  %th
    = message.contributor
  %th
    = message.updated_at
