%tr
  %th
    = message.id
  %th
    = message.content
  %th
    = message.voted
  %th
    %input{ type: :button, value: '投票', id: "#{message.id}", name: :vote, class: 'btn btn-default' }
  %th
    = message.contributor
  %th
    = message.updated_at
